body	{background-color:white}
a	{ text-decoration:none;}
a:hover{
	text-decoration: underline;
	color:	#ff0000;
}
a.section{
	font-weight:	bold;
	font-family: Verdana, sans-serif;
	text-transform:	uppercase;
	color:			#000088;
}
ul{
	list-style-type:	circle;
}

/* container tabelle */
table.container	{
	width:	100%;
	height:	100%;
	/*border:	1px solid black;*/
}

td.container{
	vertical-align:	middle;
	#text-align:		center;
	text-alignment:		center;
	height:		100%;
}
td.footer{
	vertical-align:	bottom;
	text-align:		center;
}


table.content{
	width:	500px;
	height:	500px;
}

tr.row_oben{
	height:10px;
}

hr.line{
	width:	390px;
	border-width:	1px;
	border-style:	none none dashed none;
	border-color:	#004040;
}

table.navi{
	border-width:	1px;
	border-style:	none none dashed;
	border-color:	#000000;
}
.style{
	border-width:	1px;
	border-style:	solid;
}